@{
    ViewData["Title"] = "Trang quản lý khách sạn";
}
<link rel="stylesheet" href="~/css/homepage.css" />

<div class="welcome-banner">
    <h2 style="font-size: 4rem;
    color: aquamarine;
    -webkit-text-stroke: 2px black; /* viền đen, dày 2px */
    font-weight: bold;
    text-align: center;
}">
        WELCOME TO HOTEL MANAGEMENT SYSTEM
    </h2>
    <p style="font-size: 2rem;
    color: transparent;
    -webkit-text-stroke: 2px black; /* viền đen, dày 2px */
    font-weight: bold;
    text-align: center;
}">Chọn chức năng ở thanh menu bên trái </p>
</div>
